@use "../../helpers/functions" as *;

.Order {
    background-color: #f1f1f1;
    position: relative;
    z-index: 100;
    margin-top: 46px;
    .offers-2 {
        width: 20%;
        margin: 0px auto;
        margin-bottom: 10px;
        background-color: white;
        border-radius: 50px;
        @include Breakpoints(mobile) {
            width: 90%;
        }
        span {
            direction: rtl !important;
            justify-content: center;
            color: green;
        }
    }
    h1 {
        color: $BaseColor;
    }

    form {
        button {
            width: 600px;
            background-color: green;
            margin: auto;

            @include Breakpoints(mobile) {
                width: 90%;
            }

            &:hover {
                background-color: rgba($BaseColor, 0.7);
            }
        }
    }
}
