@use "../../helpers/functions" as *;

.slider-book {
    width: 100%;
    // margin-top: 60px;
    margin: 60px auto 0px auto;

    img {
        height: 800px;
        width: 90%;
        object-fit: cover;

        @include Breakpoints(mobile) {
            width: 100%;
        }
    }

    .slick-prev,
    .slick-next {
        display: none !important;
    }

    // .slick-prev {
    //     left: 30px;

    //     &::before {
    //         content: url("../../Assets/left-long-solid.svg");
    //     }
    // }

    // .slick-next {
    //     right: 30px;

    //     &::before {
    //         content: url("../../Assets/right-long-solid.svg");
    //     }
    // }
}
