@use "../../helpers/functions" as *;

.sweet {
    background-color: $BaseColor;
}
.sweet-button {
    color: $BaseColor;
}
.slider-book {
    width: 100%;
    // margin-top: 60px;
    margin: 60px auto -38px auto !important;

    img {
        height: 800px;
        width: 90%;
        object-fit: cover;
        margin: auto;

        @include Breakpoints(mobile) {
            width: 100%;
            object-fit: contain;
            height: 560px;
        }
    }

    .slick-prev,
    .slick-next {
        display: none !important;
    }
}
