@use "../../helpers/functions" as *;

.sweet {
    background-color: $BaseColor;
}
.sweet-button {
    color: $BaseColor;
}
.slider-book {
    width: 100%;
    // margin-top: 60px;
    margin: 60px auto 0px auto;

    img {
        height: 800px;
        width: 90%;
        object-fit: cover;
        margin: auto;

        @include Breakpoints(mobile) {
            width: 100%;
            object-fit: contain;
            height: 500px;
        }
    }

    .slick-prev,
    .slick-next {
        display: none !important;
    }
}
.slider-container {
    h4 {
        direction: rtl !important;
        padding: 10px 40px 10px 0px;
        text-align: start;
        margin-top: 40px;
        color: black;
        transition: 1s liner all;
        span {
            padding: 5px;
        }
        // svg {
        //     color: green;
        //     font-size: 20px;
        // }
    }
}
