@use "../../helpers/functions" as *;

// .back-section{
//     background-color: #f1f1f1;
// }
// .ScreenContainer {
//     position: relative;
//     overflow: hidden;
//     cursor: pointer;

//     transition: 0.3s linear all;
//     border: solid transparent 6px;

//     &:hover {
//         border-color: $BaseColor;
//     }
// }
.slider-container-screens {
    width: 100%;
    height: 900px;
    img {
        object-fit: contain;
        width: 100%;
        height: 700px;
    }
}
