@use "../../helpers/functions" as *;

.Intro {
    // ul {
    //     line-height: 35px;
    // }
    direction: rtl;

    h1 {
        color: $BaseColor;
    }
}
.offer {
    background-color: black;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    margin: auto;
    width: 80%;
    h1 {
        padding: 8px;
        display: inline;
        color: white;
        text-align: center;
    }
    u {
        color: $BaseColor;
    }
}
.vistor {
    h4 {
        direction: rtl !important;
        padding: 10px 40px 10px 0px;
        text-align: start;
        margin-top: 40px;
        color: black;
        background-color: #fef2e6;
        transition: 1s liner all;
        span {
            padding: 5px;
        }
        svg {
            color: #dc7e0f;
            font-size: 20px;
        }
    }
}
