@use "../../helpers/functions" as *;

.Intro {
    // ul {
    //     line-height: 35px;
    // }
    direction: rtl;

    h1 {
        color: $BaseColor;
    }
}
.offer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: black;
    border-radius: 20px;
    margin: auto;
    width: 80%;
    h1 {
        padding: 8px;
        display: inline;
        color: white;
        text-align: center;
    }
    u{
        color: $BaseColor;
    }
}
