@use "../../helpers/functions" as *;
.sponser {
    background-color: white;
    color: black;
    text-align: center;
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;
}

nav {
    background-color: $BaseColor;
    z-index: 999;
    position: fixed;
    top: 23px;
    width: 100%;
    border-bottom: solid 1px;
    border-color: $BaseColor !important;

    h1 {
        margin: 0 !important;
        color: white;
    }

    h2 {
        margin: 0 !important;
        color: rgba(black, 0.6);
    }

    .logo_name {
        color: black;
        margin-top: 0px;
        line-height: 5px;
    }

    .logo_text {
        color: black;
        margin-bottom: 0px;
    }

    ul {
        @include Breakpoints(mobile) {
            direction: rtl;
        }

        li {
            p {
                color: white;
                cursor: pointer;
                position: relative;

                &:hover {
                    &::after {
                        width: 100%;
                        border-color: white;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 0%;
                    border: solid transparent 0.1px;
                    bottom: -6px;
                    right: 0;
                    transition: linear all 0.3s;

                    @include Breakpoints(mobile) {
                        bottom: -3px;
                    }
                }
            }
        }
    }
}
